apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs
spec:
  capacity:
    storage: {{ nfs_server_size }}
  accessModes:
  - ReadWriteMany
  nfs:
    path: {{ nfs_server_path }}
    server: {{ nfs_server_ip }}
  persistentVolumeReclaimPolicy: Retain
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nfs
  namespace: default
spec:
  chart: nfs-subdir-external-provisioner
  repo: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
  targetNamespace: default
  set:
    nfs.server: {{ nfs_server_ip }}
    nfs.path: {{ nfs_server_path }}
    storageClass.name: nfs